.button{
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .button:hover {
    background-color: #0056B3;
  }