.comment-button{
    border: 1px solid #007BFF;
    color: #007BFF;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .comment-button:hover {
    background-color: #0056B3;
  }

  .textarea {
    border-radius: 20px;
    width: 300px;
    padding: 20px;
  }