
.item-name {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.item-details {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.item-price {
    margin-right: 10px;
}

.item-quantity {
    color: #888;
}